.elgg-page-topbar {
	.elgg-menu-site-container,
	.elgg-menu-topbar-container {
		display: none;
	}
}

.elgg-page:not(.mm-page),
html[class*=mm-wrapper_sidebar-collapsed-] {
	.elgg-page-topbar .mmenu-toggle {
		display: none;
	}
}

.mmenu-topbar {
	display: flex;
	padding: 0;
	
	> * {
		flex-grow: 1;
		padding: 10px;
		overflow: hidden;
	}
	
	.mmenu-toggle {
		border-left: 1px solid #CCC;
		flex-grow: 0;
		color: white;
		width: 50px;
		cursor: pointer;
		
		.elgg-icon-chevron-right {
			display: none;
		}
		
		.elgg-icon-chevron-left {
			display: inline;
		}
	}
}

.elgg-page-topbar .mmenu-toggle {
	margin-right: auto;
}

.mm-listitem:after {
	left: 0;
}

.elgg-menu-site-container {
	.mm-menu__blocker {
		top: 60px;
	}
	
	li {
		.elgg-anchor > * {
			vertical-align: middle;
		}
		
		.mm-listitem_selected > span {
			background: unset;
		}
	}
	
	.mm-navbar > a {
		color: inherit;
	}
	
	.mm-navbars_top {
		border-bottom-color: $(topbar-background-color, $(background-color-highlight));
		background: $(topbar-background-color, $(background-color-highlight));
			
		.mm-navbar {
			background: none;
			line-height: 36px;
			height: 56px;
			color: white;
			
			a {
				color: white;
			}
		}
	}
	
	.mm-listview {
		.elgg-avatar-small img,
		li .elgg-anchor-icon {
			width: 30px;
			display: inline-block;
			text-align: center;
			margin-right: 5px;
		}
		
		.mm-listitem > * {
			padding: 10px;
		}

		.mm-listitem > a + .mm-listitem__btn {
			padding-left: 30px;
			padding-right: 20px;
		}
	}
	
	&.mm-menu_sidebar-expanded {
		border-right-width: 0px;
	}
	
	&:not(.mm-menu_opened) {
		.mm-navbars_top .mm-navbar {
			opacity: 1 !important;
		}
		
		.mmenu-topbar {
			flex-direction: row-reverse;
			
			.mmenu-toggle {
				border-left: none;
				padding-left: 10px;
				
				.elgg-icon-chevron-right {
					display: inline;
				}
				
				.elgg-icon-chevron-left {
					display: none;
				}
			}
		}
	}
	
	&:not(.mm-menu_multiline) {
		.mm-listitem {
			.elgg-anchor {
				.elgg-anchor-label {
					white-space:nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 100%;
					justify-content: center;
				}
			}		
		}
	}
}

.mm-wrapper_sidebar-collapsed,
.mm-wrapper_opened {
	.mm-slideout:before {
		content: "";
		position: fixed;
		top: 0px;
		width: 4px;
		height: 100%;
		
		box-shadow: inset 4px 0 4px -4px rgba(0,0,0,0.50);
		
		z-index: 100;
	}
}

body {
	&.mm-wrapper_sidebar-collapsed > .elgg-page {
		width: calc(100% - var(--mm-sidebar-collapsed-size));
		transform: translate3d(var(--mm-sidebar-collapsed-size), 0, 0);
	}
	&.mm-wrapper_sidebar-expanded > .elgg-page {
		width: calc(100% - var(--mm-sidebar-expanded-size));
		transform: translate3d(var(--mm-sidebar-expanded-size), 0, 0);
	}
}
	
@media screen and (max-width: 700px) {
	.elgg-page-topbar .mmenu-toggle {
		display: block !important;
	}

	.mm-wrapper_sidebar-collapsed-40:not(.mm-wrapper) .elgg-page {
		width: 100% !important;
		transform: unset !important;
	}
}
