:root {
    --mm-lineheight: 30px;
}

html {
	overflow-x: unset;
	overflow-y: unset;
}

.elgg-page-topbar {
	.elgg-menu-site-container {
		display: none;
	}
}

.mmenu-topbar {
	display: flex;
	padding: 0;
	
	> * {
		flex-grow: 1;
		padding: 10px;
		overflow: hidden;
	}
	
	.mmenu-toggle {
		border-left: 1px solid #CCC;
		flex-grow: 0;
		color: white;
		width: 50px;
		cursor: pointer;
		
		.elgg-icon-chevron-right {
			display: none;
		}
		
		.elgg-icon-chevron-left {
			display: inline;
		}
	}
}

.elgg-page-topbar .mmenu-toggle {
	margin-right: auto;
	padding-left: 1rem;
		
	display: none;
}

.mm-listitem:after {
	left: 0;
}

.elgg-menu-site-container {
	li {
		.elgg-anchor > * {
			vertical-align: middle;
		}
		
		.mm-listitem--selected > span {
			background: unset;
		}
	}
	
	.mm-navbar > a {
		color: rgb(0 0 0 / 80%);
	}
	
	.mm-navbars--top {
		border-bottom-color: $(topbar-background-color, $(background-color-highlight));
		background: $(topbar-background-color, $(background-color-highlight));
			
		.mm-navbar {
			background: none;
			line-height: 36px;
			height: 55px;
			color: white;
			
			a {
				color: white;
			}
		}
	}
	
	.mm-listview {
		img,
		li .elgg-anchor-icon {
			width: 30px;
			display: inline-block;
			text-align: center;
			margin-right: 5px;
		}
		
		.mm-listitem > * {
			padding: 10px;
		}

		.mm-listitem > a + .mm-listitem--btn {
			padding-left: 30px;
			padding-right: 20px;
		}
	}
	
	&.mm-menu--sidebar-expanded {
		border-right-width: 0px;
		
		&.mm-menu--opened {
			z-index: 1;
		}
	}
	
	&:not(.mm-menu--opened) {
		.mm-navbars--top .mm-navbar {
			opacity: 1 !important;
		}
		
		.mmenu-topbar {
			flex-direction: row-reverse;
			
			.mmenu-toggle {
				border-left: none;
				padding-left: 10px;
				
				.elgg-icon-chevron-right {
					display: inline;
				}
				
				.elgg-icon-chevron-left {
					display: none;
				}
			}
		}
	}
	
	.mm-listitem {
		.elgg-anchor {
			.elgg-anchor-label {
				white-space:nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 100%;
				justify-content: center;
			}
		}
	}
}

.mm-wrapper {
	position: initial;
}

.mm-wrapper--sidebar-collapsed,
.mm-wrapper--opened {
	.mm-slideout:before {
		content: "";
		position: fixed;
		top: 0px;
		width: 4px;
		height: 100%;
		
		box-shadow: inset 4px 0 4px -4px rgba(0,0,0,0.50);
		
		z-index: 100;
	}
}

@media screen and (min-width: 900px) {
	body:not(.mm-wrapper) {
		&.mm-wrapper--sidebar-expanded > .elgg-page {
			width: calc(100% - var(--mm-sidebar-expanded-size));
			transform: unset;
			float: right;
		}
		&.mm-wrapper--sidebar-closed > .elgg-page {
			width: calc(100% - var(--mm-sidebar-collapsed-size));
			transform: unset;
			float: right;
		}
	}
}

@media screen and (min-width: 700px) {
	body:not(.mm-wrapper--opening) > .elgg-page {
		width: calc(100% - var(--mm-sidebar-collapsed-size));
		transform: unset !important;
		float: right;
	}
}
	
@media screen and (max-width: 700px) {
	.elgg-page-topbar .mmenu-toggle {
		display: block !important;
	}
}
